.bold{
    font-weight:bold;
}

.nav-link{
    color: white;
}

.BURed{
    background-color: rgb(204, 0, 0);
}

.borderNavBarColor{
    border-color:rgb(0, 0, 0, 0.1);
}

.navbarColor{
    background-color: rgb(169,169,169);
}

.latoFont{
    font-family: 'Lato', sans-serif;
}

.p-3{
    color: white;
    border-radius: 25px;
    padding: 25px;
}

.gg-trash{
    margin-left: 5px;
}

.times{
    padding-bottom: 10px;
    text-align: center;
}

.days{
    text-align: center;
}

.col-test{
    padding-bottom: 20px;
}

.reservations, .help, .userInfo{
    background-color: white;
    border: 10px solid black;
    color: black;
}

.reservationTitle{
    text-align: left;
}

.reservationSlot1, .reservationSlot2{
    text-align: right;
}

.remove{
    border: none;
    background-color: white;
}

.under_dash_text{
    padding-left: 5px;
    padding-right: 5px;
}

.buttonError {
    display: inline-block;
    border-radius: 20px;
    background-color: #cc0000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.0em;
    padding: 20px;
    width: 75%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonError span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonError span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonError:hover span {
    padding-right: 25px;
  }
  
  .buttonError:hover span:after {
    opacity: 1;
    right: 0;
  }

  .issueText{
    font-size: 1.8em;
    padding-bottom: 1%;
    color: rgb(114, 114, 114);
  }

/* @media(max-width: 560px){
    .days{
        font-size:0.80em;
    }

    .times{
        font-size: 0.50em;
    }
} */

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
   }
   
   .gg-trash::after,
   .gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
   }
   
   .gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
   } 


.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
}

/* Style for the circle */
.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Makes it a circle */
    background-color: #da4f4f; /* Blue color for the circle */
    border: solid black 1px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 10px; /* Add some space between circle and text */
}

/* Style for the description text */
.description {
    font-size: 16px;
    font-weight: bold;
}

.accountInfo{
    text-align: right;
}

.reservationContainer{
    text-align: center;
}

#reservations-list {
    list-style-type: none;
    padding: 0;
}


/* Add some margin between list items if needed */
#reservations-list li {
    margin-bottom: 10px;
}

#delete-btn {
    display: inline-block;
    border-radius: 20px;
    background-color: #cc0000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.0em;
    padding: 20px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#delete-btn {
    opacity: 0.5; /* Reduced opacity to make it less visible */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

/* Style for the Delete button when enabled */
#delete-btn:not([disabled]) {
    opacity: 1; /* Full opacity when enabled */
    cursor: pointer; /* Change cursor to pointer when enabled */
}

#khc_logo, #spark_logo{
    height: 100px;
    width: 100px;
    margin:15px;
}

#khc_logo{
    border-radius: 5px;
}

#image-container{
    text-align: center;
}

#partnersText{
    margin: 10px;
}