.bold{
    font-weight:bold;
}

.nav-link{
    color: white;
}

.BURed{
    background-color: rgb(204, 0, 0);
}

.borderNavBarColor{
    border-color:rgb(0, 0, 0, 0.1);
}

.navbarColor{
    background-color: rgb(169,169,169);
}

.latoFont{
    font-family: 'Lato', sans-serif;
}

.titleFont{
    font-family: 'Montserrat';
}

.p-3{
    color: white;
    border-radius: 25px;
    padding: 25px;
}

.friday_box{
}

.times{
    padding-bottom: 10px;
    text-align: center;
}

.days{
    text-align: center;
}

.col-test{
    padding-bottom:20px;
}

/* @media(max-width: 560px){
    .days{
        font-size:0.80em;
    }

    .times{
        font-size: 0.50em;
    }
} */

.hall, .time, .day, .room{
    text-align: center;
    font-size: 0.96em;
    font-weight: bold;
}

#roomSelection{
    padding-top: 5px;
}

.test{
    visibility: hidden;
}

.col-3, .test{
    float: left;
    text-align: center;
}

h4{
    padding-left: 25px;
}

.mins60, .mins30{
    padding-top: 15px;
}

.row {
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

button {
    border-radius: 20px;
    color: rgb(226, 56, 56);
    background-color: rgb(226, 56, 56);
    border: solid red 1px;
    margin-bottom: 15px;
    margin-top: 15px;
    

}

button {
    color: white;
}

select {
    font-size: 0.95rem;
    padding: 0.2rem;
    vertical-align: middle;
}

.label-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.input-text{
    width: 50%;
}

.crossed-out{
    text-decoration: line-through;
    opacity: 50%;
}

.selected {
    border: solid black 3px;
}

#confirmReservation{
    text-align: center;
}

#reservationError{
    display: none;
    text-align: center;
}

.reservation-button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
  
/* .reservation-button {
    flex-basis: calc(25% - 10px);
    margin: 5px;
} */

.reservation-button{
    width: 100%;
}


.col-3 button {
    padding: 10px;
}

.reservationTimeInfo{
    padding: 10px;
}

/* Popup container */
.popup {
position: relative;
display: inline-block;
cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
visibility: hidden;
width: 160px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 8px 0;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}

.popup-container{
    text-align: center;
    padding-top: 10px;
}

#room{
    display: none;
}

#room-select option{
    text-align: center;
}

html, body {
    overflow-x: hidden;
}

@media (max-width: 320px){
    .reservation-button{
        font-size: 50%;
    }
}

@media (max-width: 375px) and (min-width: 321px){
    .reservation-button{
        font-size: 80%;
    }
}

@media (max-width: 425px) and (min-width: 376px){
    .reservation-button{
        font-size: 95%;
    }
}

@media (max-width: 365px){
    .dash-text{
      font-size: 80%
    }
}

.bottom-navbar {
position: fixed;
bottom: 0;
width: 100%;

}

#image-container{
margin-bottom: 100px;
}

.dash-text{
font-size: 80%;
text-align: center;
margin-left: 18px;
}
