.bold{
    font-weight:bold;
}

.nav-link{
    color: white;
}

.BURed{
    background-color: rgb(204, 0, 0);
}

.borderNavBarColor{
    border-color:rgb(0, 0, 0, 0.1);
}

.navbarColor{
    background-color: rgb(169,169,169);
}

.latoFont{
    font-family: 'Lato', sans-serif;
}

.titleFont{
    font-family: 'Montserrat';
}

.p-3{
    color: white;
    border-radius: 25px;
    padding: 25px;
}

.friday_box{
}

.times{
    padding-bottom: 10px;
    text-align: center;
}

.days{
    text-align: center;
}

.col-test{
    padding-bottom:20px;
}

/* @media(max-width: 560px){
    .days{
        font-size:0.80em;
    }

    .times{
        font-size: 0.50em;
    }
} */

.hall, .time, .day{
    text-align: center;
    font-size: 0.96em;
    font-weight: bold;
}

.test{
    visibility: hidden;
}

.col-3, .test{
    float: left;
    text-align: center;
}

h4{
    padding-left: 25px;
}

.mins60, .mins30{
    padding-top: 15px;
}

.row {
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

button {
    border-radius: 20px;
    color: rgb(226, 56, 56);
    background-color: rgb(226, 56, 56);
    border: solid red 1px;
    margin-bottom: 15px;
    margin-top: 15px;
    

}

button {
    color: white;
}

select {
    font-size: 0.95rem;
    padding: 0.2rem;
    vertical-align: middle;
}

.label-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.input-text{
    width: 50%;
}

.crossed-out{
    text-decoration: line-through;
    opacity: 50%;
}

.selected {
    border: solid black 3px;
}

#confirmReservation{
    text-align: center;
}

#reservationError{
    display: block;
    text-align: center;
}

