.p-3{
    color: white;
    border-radius: 25px;
    padding: 25px;
}

.friday_box{
}

.times{
    padding-bottom: 10px;
    text-align: center;
}

.days{
    text-align: center;
}

.col-test{
    padding-bottom: 20px;
}

.reservations, .help{
    background-color: white;
    border: 10px solid black;
    color: black;
}

.reservationTitle{
    text-align: left;
}

.reservationSlot1, .reservationSlot2{
    text-align: right;
}

.remove{
    border: none;
    background-color: white;
}

.under_dash_text{
    padding-left: 5px;
    padding-right: 5px;
}

.buttonError {
    display: inline-block;
    border-radius: 20px;
    background-color: #cc0000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.0em;
    padding: 20px;
    width: 75%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonError span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonError span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonError:hover span {
    padding-right: 25px;
  }
  
  .buttonError:hover span:after {
    opacity: 1;
    right: 0;
  }

  .issueText{
    font-size: 1.8em;
    padding-bottom: 1%;
    color: rgb(114, 114, 114);
  }

/* @media(max-width: 560px){
    .days{
        font-size:0.80em;
    }

    .times{
        font-size: 0.50em;
    }
} */
